@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'),
       url('/public/fonts/Raleway-Regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway'),
       url('/public/fonts/Raleway-Medium.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway'),
       url('/public/fonts/Raleway-Bold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Raleway'),
       url('/public/fonts/Raleway-Black.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

