.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.footer__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__developers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 7px;
}